[submodule "Ice/vendor/spdlog"]
	path = Ice/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ice/vendor/GLFW"]
	path = Ice/vendor/GLFW
	url = https://github.com/glfw/glfws
[submodule "Ice/vendor/imgui"]
	path = Ice/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
